.page {
  background-color: rgb(245, 240, 179);
  background-image: url('../img/wallpaper.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(238, 39, 172);
  margin-top: 60px;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
.header__h1 {
  font-size: 35px;
  color:rgb(238, 39, 172);
  text-transform: lowercase;
  text-shadow: 1px 2px 0px rgb(31, 28, 56);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game_label{
  color:rgb(238, 39, 172);;
  font-size: 20px;
  font-weight: bold;

}
.inputNumber {
 margin-top: 20px;
  display: block;
  background-color: #031e68;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color:white;
  border-radius: 100px;
  width: 150px;
  height: 85px;
}

.inputNumber::placeholder {
  font-weight: 200;
  font-size: 35px;
  color:white;
}

.submitButton {
  font-weight: small;
  font-size: small;
  padding: 6px;
  text-transform: lowercase;
  margin-top: 10px;
  color: white;
  background-color: rgb(199, 6, 103);
  border: none;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 8px 0px rgb(31, 28, 56);
}

.clueTitle {
  font-weight: bold;
}

.attemptsTitle {
  font-weight: bold;
}

.game_clue,
.game_attempts {
  color:#031e68;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding: 8px;
  background-color:rgb(241, 232, 132);
  border-radius: 50px;
}
.game_clue{
  margin-top: 150px;
}
.footer {
  position: fixed;
  bottom: 30px;
}